In [4]:
jan = march = may = jul = agust = oct = dec= 31 
apr = jun = sep = nov = 30
feb = 28

In [5]:
print(jan, feb, march, apr, may, jun, jul, agust, sep, oct, nov, dec)

31 28 31 30 31 30 31 31 30 31 30 31

In [6]:
age = 30

In [7]:
print(age)

30

In [8]:
type(age)

int

In [9]:
converted_age = str(age)

In [10]:
converted_age

'30'

In [11]:
type(converted_age)

str

In [12]:
pi_number = 3.14

In [13]:
type(pi_number)

float

In [14]:
converted_pi_number = str(pi_number)

In [15]:
converted_pi_number

'3.14'

In [16]:
x = False

In [17]:
type(x)

bool

In [24]:
converted_x = str(x)

In [25]:
converted_x

'False'

In [26]:
type(converted_x)

str

In [27]:
input("enter your age")

'30'

In [28]:
your_age = input("enter your age")

In [29]:
your_age

'18'

In [30]:
type(your_age)

str

In [31]:
input("enter your job")

'nurse'

In [33]:
type("enter your job")

str

In [36]:
pi_number

3.14

In [37]:
int(pi_number)

3

In [38]:
int(3.56)   intecer sistemi noktadan sonrasÄ±na bakmaz

3

In [40]:
int(3.56)

3

In [41]:
z = 5.9
z = int(z)
z

5

In [42]:
type(z)

int

In [43]:
float(3)

3.0

In [44]:
age = "on sekiz"

In [46]:
pi_number = "3.14"

In [47]:
float(pi_number)

3.14

In [48]:
pi_number

'3.14'

In [49]:
float("3")

3.0

In [52]:
int("6")

6

In [55]:
age = input("enter your age")

In [56]:
job = input("enter your job")

In [57]:
print(age)
print(job)

32
data science

In [58]:
print(type(age))
print(type(job))

<class 'str'>
<class 'str'>

In [60]:
2023 - int(age)

1991

In [61]:
age_2 = int(input("enter your age"))

In [62]:
age_2

25

In [63]:
age_3 = int(input("enter your age"))

In [64]:
age_3

32

In [66]:
str(False)

'False'

In [68]:
int(False)

0

In [69]:
int(True)

1

In [70]:
float(True)

1.0

In [71]:
float(False)

0.0

In [72]:
x = 5.6
int(x)
print(type(x))

<class 'float'>

In [74]:
x = 25
y = "15"
z = "2.5"
w = "I'm at_"

In [75]:
print(x - int(y))
print(x - float(z))
print(z + str(x))

10
22.5
2.525

In [76]:
x = 25
y = "15"
z = "2.5"
w = "I'm at_"

In [79]:
print(w + str(x))

I'm at_25