In [1]:
print("hello world")

hello world

## for loops

for değişken in iterable
    işlem satırları

In [4]:
for i in "techpro":
    print(i)

t
e
c
h
p
r
o

In [5]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [6]:
for i in 1453: #iterable olması lazım
    print(i)

TypeError: 'int' object is not iterable

In [7]:
for name in ("adem", "ahmad","filiz"):
    print(name)

adem
ahmad
filiz

In [8]:
liste_1 = [1, 2, 3, 4, 5]
liste_1

[1, 2, 3, 4, 5]

In [9]:
for i in liste_1:
    print(i ** 2)

1
4
9
16
25

In [10]:
index = 0
while index < len(liste_1):                     ##zor hali for ile yapmak daha mantıklı
    print(liste_1[index] ** 2)
    index += 1

1
4
9
16
25

In [11]:
for i in liste_1:
    print(i ** 2,end="-")

1-4-9-16-25-

In [12]:
for i in "techpro":
    print(i + "-")

t-
e-
c-
h-
p-
r-
o-

In [18]:
empty_str = ""
for i in "techpro":
    empty_str += i + "-"
print(empty_str)

t-e-c-h-p-r-o-

In [17]:
empty_str = ""
for i in "techpro":
    empty_str += i + "-"
print(empty_str.rstrip("-"))

t-e-c-h-p-r-o

In [20]:
empty_list = []
for i in "techpro":
    empty_list.append(i)
    empty_list.append("-")
print(empty_list)

['t', '-', 'e', '-', 'c', '-', 'h', '-', 'p', '-', 'r', '-', 'o', '-']

In [21]:
empty_list = []
for i in "techpro":
    empty_list.append(i)
    empty_list.append("-")
empty_list.pop()    
print(empty_list)

['t', '-', 'e', '-', 'c', '-', 'h', '-', 'p', '-', 'r', '-', 'o']

In [22]:
empty_list = []
for i in "techpro":
    empty_list.append(i)
    empty_list.append("-")
empty_list.pop()    
print("".join(empty_list))

t-e-c-h-p-r-o

In [23]:
a = tuple("12345")
a

('1', '2', '3', '4', '5')

In [24]:
for i in a:
    print(i)

1
2
3
4
5

In [26]:
b = set("sabahattin")
print(b)

{'s', 'h', 'n', 'i', 'b', 'a', 't'}

In [27]:
for i in b:
    print(i)

s
h
n
i
b
a
t

In [28]:
dict_1 = {"name" : "ismet", "job" : "data scincetist", "age" : 25}
dict_1

{'name': 'ismet', 'job': 'data scincetist', 'age': 25}

In [29]:
for i in dict_1:
    print(i)

name
job
age

In [30]:
for i in dict_1.values():
    print(i)

ismet
data scincetist
25

In [31]:
for i in dict_1.keys():
    print(i)

name
job
age

In [32]:
for i, j in dict_1:
    print(i,j)

ValueError: too many values to unpack (expected 2)

In [33]:
for i, j in dict_1.items():
    print(i,j)

name ismet
job data scincetist
age 25

In [35]:
dict_2 = {"name" : "ismet", "surname" : "yılmaz", "age" : 25}
dict_2

{'name': 'ismet', 'surname': 'yılmaz', 'age': 25}

In [36]:
for i, j in dict_2.items():
    print(f"key : {i}, value : {j}")

key : name, value : ismet
key : surname, value : yılmaz
key : age, value : 25

In [38]:
for i, j in dict_2.items():
    print(f"key : {i:<10} value : {j:<20}")

key : name       value : ismet
key : surname    value : yılmaz
key : age        value : 25

In [ ]:
aa = [1,2]
for i in aa:
    print(i)                   ##çalıştırma çünkü sonsuza gider
    aa.apend(i)

In [39]:
for i in range(50):
    print("hoca bize ceza verdi")

hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi
hoca bize ceza verdi

In [42]:
for i in range(1,51):
    print(f"{i}.hoca bize ceza verdi")

1.hoca bize ceza verdi
2.hoca bize ceza verdi
3.hoca bize ceza verdi
4.hoca bize ceza verdi
5.hoca bize ceza verdi
6.hoca bize ceza verdi
7.hoca bize ceza verdi
8.hoca bize ceza verdi
9.hoca bize ceza verdi
10.hoca bize ceza verdi
11.hoca bize ceza verdi
12.hoca bize ceza verdi
13.hoca bize ceza verdi
14.hoca bize ceza verdi
15.hoca bize ceza verdi
16.hoca bize ceza verdi
17.hoca bize ceza verdi
18.hoca bize ceza verdi
19.hoca bize ceza verdi
20.hoca bize ceza verdi
21.hoca bize ceza verdi
22.hoca bize ceza verdi
23.hoca bize ceza verdi
24.hoca bize ceza verdi
25.hoca bize ceza verdi
26.hoca bize ceza verdi
27.hoca bize ceza verdi
28.hoca bize ceza verdi
29.hoca bize ceza verdi
30.hoca bize ceza verdi
31.hoca bize ceza verdi
32.hoca bize ceza verdi
33.hoca bize ceza verdi
34.hoca bize ceza verdi
35.hoca bize ceza verdi
36.hoca bize ceza verdi
37.hoca bize ceza verdi
38.hoca bize ceza verdi
39.hoca bize ceza verdi
40.hoca bize ceza verdi
41.hoca bize ceza verdi
42.hoca bize ceza verdi
43.hoca bize ceza verdi
44.hoca bize ceza verdi
45.hoca bize ceza verdi
46.hoca bize ceza verdi
47.hoca bize ceza verdi
48.hoca bize ceza verdi
49.hoca bize ceza verdi
50.hoca bize ceza verdi

In [43]:
number = int(input("0 ile 9 arasında bir rakam girin (0 ve 9 dahil)"))

if number in [0,1,2,3,4,5,6,7,8,9]:
    for i in range(1,11):
        print(f"{i} x {number} = {i * number}")
else:
    print("0 ile 9 arasında bir sayı girmenizi istemiştim.")

1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

In [44]:
number = int(input("0 ile 9 arasında bir rakam girin (0 ve 9 dahil)"))

if number in [0,1,2,3,4,5,6,7,8,9]:
    for i in range(1,11):
        print(f"{i:<2} x {number} = {i * number}")
else:
    print("0 ile 9 arasında bir sayı girmenizi istemiştim.")

1  x 3 = 3
2  x 3 = 6
3  x 3 = 9
4  x 3 = 12
5  x 3 = 15
6  x 3 = 18
7  x 3 = 21
8  x 3 = 24
9  x 3 = 27
10 x 3 = 30

In [47]:
number = int(input("0 ile 9 arasında bir rakam girin (0 ve 9 dahil)"))

if number in [0,1,2,3,4,5,6,7,8,9]:
    for i in range(1,11):
        print(f"{i:<2} x {number} = {i * number}")
else:
    print("0 ile 9 arasında bir sayı girmenizi istemiştim.")

0 ile 9 arasında bir sayı girmenizi istemiştim.

In [48]:
while True:
    number = int(input("0 ile 9 arasında bir rakam girin (0 ve 9 dahil)"))

    if number in [0,1,2,3,4,5,6,7,8,9]:
        for i in range(1,11):
            print(f"{i:<2} x {number} = {i * number}")
        break    
    else:
        print("0 ile 9 arasında bir sayı girmenizi istemiştim.")

0 ile 9 arasında bir sayı girmenizi istemiştim.
1  x 5 = 5
2  x 5 = 10
3  x 5 = 15
4  x 5 = 20
5  x 5 = 25
6  x 5 = 30
7  x 5 = 35
8  x 5 = 40
9  x 5 = 45
10 x 5 = 50

In [49]:
giriş_hakkı = 3
while True:
    number = int(input("0 ile 9 arasında bir rakam girin (0 ve 9 dahil)"))
    giriş_hakkı -= 1
    if number in [0,1,2,3,4,5,6,7,8,9]:
        for i in range(1,11):
            print(f"{i:<2} x {number} = {i * number}")
        break    
    else:
        print("0 ile 9 arasında bir sayı girmenizi istemiştim.") 

    if giriş_hakkı == 0:
        print("giriş hakkınız bitti")
        break

0 ile 9 arasında bir sayı girmenizi istemiştim.
0 ile 9 arasında bir sayı girmenizi istemiştim.
0 ile 9 arasında bir sayı girmenizi istemiştim.
giriş hakkınız bitti

In [50]:
50 * 51/2

1275.0

In [51]:
for i in range(51):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [53]:
sum = 0
for i in range(51):
    sum += i
print(sum)

1275

In [54]:
sum = 0
for i in range(20,51):
    sum += i
print(sum)

1085

In [55]:
#çift sayıların toplamı
sum = 0
for i in range(0,51,2):
    sum += i
print(sum)

650

In [60]:
# tek sayıların toplamı
sum = 0
for i in range(1,50,2):
    sum += i
print(sum)

625

In [66]:
del(sum)

In [67]:
sum([1,2,3,4,5])

15

In [68]:
sum(list(range(51)))

1275

In [69]:
sum((1,2,3,4,5))

15

In [70]:
sum((4,5,6,7,8,9))

39

In [71]:
sum((4,5,6,7,8,9),6)

45

In [72]:
sum((4,5,6,7,8,9),100)

139

In [74]:
sum((4,5,6,7,8,9,True))

40

In [75]:
sum((4,5,6,7,8,9,True,"a"))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [76]:
sum(("a","b","c"))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## break, continue

In [77]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i)

1
2
3
4
5
6
7
8
9

In [78]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i)
    if i % 3 == 0:
        print(i ** 2)
        break

1
2
3
9

In [81]:
k = 0
for i in [1,2,3,4,5,6,7,8,9]:
    if i == 5:
        continue                      ##5 i almadan geri kalan hepsini topla
    k += i

print(k)

40

In [85]:
k = 0
for i in [1,2,3,4,5,6,7,8,9]:
    if i == 9:                             ##9 u almadan geri kalan hepsini topla
        continue
    k += i

print(k)

36

In [86]:
for i in "techpro":
    if i == "p":
        continue
    print(i)

t
e
c
h
r
o

## zip()

In [87]:
a = ["apple","orange","banana"]
b = [1,2,3]

In [88]:
zip(a,b)

In [89]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('banana', 3)]

In [90]:
tuple(zip(a,b))

(('apple', 1), ('orange', 2), ('banana', 3))

In [91]:
set(zip(a,b))

{('apple', 1), ('banana', 3), ('orange', 2)}

In [92]:
x = "techpro"
y = "sedat"
z = "ali"

In [93]:
list(zip(x,y,z))

[('t', 's', 'a'), ('e', 'e', 'l'), ('c', 'd', 'i')]

In [94]:
list(zip("techpro",[], (1,2,3)))

[]

In [95]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  If strict is true and one of the arguments is exhausted before the others,
 |  raise a ValueError.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.