In [3]:
age = "32"

In [4]:
name2 = 'sedat'

In [5]:
name2

'sedat'

In [40]:
name2

'sedat'

In [6]:
age

'32'

In [55]:
name_4 = "hasan"

In [7]:
first_name = "yavuz"
last_name = "akta≈ü"

In [46]:
pi = "3"
num = "1"

In [48]:
pi + num

'31'

In [54]:
name_5 = "serap" 
name_6 = "arif"

In [53]:
name_5

'serap'

In [52]:
name_7,name_8 = "selim", "mehmet ali"

In [22]:
print(type("Hello World"))

<class 'str'>

In [28]:
print("3" + "5")

35

In [29]:
print(type("3" + "5"))

<class 'str'>

In [30]:
print("4" * 5)

44444

In [31]:
print("41" * 3)

414141

In [32]:
"sedat" * 3

'sedatsedatsedat'

In [33]:
2 * 3

6

In [34]:
"sedat " * 3

'sedat sedat sedat '

In [56]:
print(name_7 * 3)

selimselimselim

In [65]:
print(""'h'"'   ' ello world"")

SyntaxError: unterminated string literal (detected at line 1) (3105203907.py, line 1)

In [61]:
"""sedat"""

'sedat'

In [66]:
"s""e""d""a""t"

'sedat'

In [67]:
type(pi_number)

float

In [69]:
type(False)

bool

In [70]:
type(True)

bool

In [72]:
x, y, z = "banana", "apple", "orange"
print(x)
print(y)
print(z)

banana
apple
orange

In [73]:
x

'banana'

In [74]:
print(x)

banana

In [75]:
x
y
z

'orange'

In [76]:
my_age = 32
your_age = 50
my_age = your_age

In [77]:
my_age

50

In [79]:
my_age = 55

In [80]:
my_age

55

In [81]:
person = "john"
age = 30
department = "data scientist"
salary = 120000
person = "Adam"
age = 32
department = "web developer"
salary = 110000

In [82]:
print(person)
print(department)
print(salary)
print(age)

Adam
web developer
110000
32

In [84]:
person = "john"
age = 30
department = "data scientist"
salary = 120000
person = "Adam"
age = 32
department = "web developer"
#salary = 110000

In [85]:
print(person)
print(department)
print(salary)
print(age)

Adam
web developer
120000
32

In [86]:
x = "Techpro"
y = x
x = "python"

In [87]:
print(x)
print(y)

python
Techpro